# Ejecutables y objetos
*.exe
*.out
*.o
*.obj

# Carpetas de compilación
Debug/
Release/
x64/
bin/
build/

# Configuración de editores
.vscode/
*.vcxproj.user
*.suo
*.user
*.ncb
*.sdf
*.ipch
*.opensdf

# Archivos temporales
*.log
*.tmp
*.bak
